.bubble {
  position: absolute;
  bottom: -40px;
  animation-name: rise;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes rise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}


@keyframes rise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}